.aboutUs {
    .container {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 50px 0;
        align-items: flex-start;
    }

    h1 {
        font-size: 35px;
        text-align: center;
        display: flex;
        align-self: center;
    }

    .aboutUs__desc {
        font-size: 25px;
        width: 1200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .aboutUs__list {
        margin: 30px 0;

        .aboutUs__list__item {
            font-size: 18px;
            letter-spacing: 1.4;
        }
    }
}