.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080a0c;
}

h1,
.h1 {
  font-size: 35px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.2;
}

.redBtn, .darkBtn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #064e3b;
  padding: 20px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  transition: background-color .3s;
  box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.25);
}

.darkBtn {
  background-color: #171B19;
  color: #808080;
}

.redBtn:hover, .darkBtn:hover {
  background-color: darkgreen;
}