.header {
  background-color: #a9a9a9;
}

.header__logo {
    border-radius: 50%;
}

.container {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header__navs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
  margin-right: auto;

  .header__nav {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
  }

  .header__nav:hover {
    text-decoration: underline;
  }
}

.header__socials {
    display: flex;
    align-items: center;
    gap: 30px;
}