.banner {
    background-color: #111418;
  box-shadow: 0px 10px 50px 0px rgba(255, 255, 255, 0.25);
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 100px 0;
}

.banner__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 90px;
}